nav ul{ 
    display: flex;
}
nav li{
    list-style: none;
    margin: 20px;

}
nav li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
nav li :hover{
    color: brown;
}
body{
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}


.hero-container{
    display: flex;
    border-radius: 25px;
    gap: 40px;
    align-items: center;
    background-color: lightblue;
    padding: 25px;
    font-size: 1.25em;
}
.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
}
.hero-container button{
    background-color: silver;
    border-radius: 5px;
    padding: 13px;
    border-style: none;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;

    
}
 .hero-container button:hover{

    
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 8px 16px 0 black;
}
