.container div{
    background-color: skyblue;
    border: 2px solid tomato;
    height: 50px;
    font-size: 3em;
    width: 200px;
}
.container{
    display: flex;
    height: 100px;
}
.box-container{
    display: flex;
    height: 100px;

    
}
.box{
    border: 2px solid steelblue;
    font-size: 3em;
    height: 50px;
    width: 200px;

}
.user-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.user{
    border: 2px solid skyblue;
    height: 50px;
    width: 200px;
    font-size: 2em;
    text-align: center;
     background-color: steelblue;
}
.user:hover{
    background-color: white;
    border: 2px solid black;
    animation: alternate;
}

